class Dirgo < Formula
  desc "Instant directory navigation for your terminal"
  homepage "https://github.com/RudySource/Dirgo"
  version "VERSION"
  license any_of: ["MIT", "Apache-2.0"]

  on_macos do
    if Hardware::CPU.arm?
      url "https://github.com/RudySource/Dirgo/releases/download/vVERSION/dirgo-vVERSION-aarch64-apple-darwin.tar.gz"
      sha256 "AARCH64_APPLE_DARWIN_SHA256"
    else
      url "https://github.com/RudySource/Dirgo/releases/download/vVERSION/dirgo-vVERSION-x86_64-apple-darwin.tar.gz"
      sha256 "X86_64_APPLE_DARWIN_SHA256"
    end
  end

  on_linux do
    url "https://github.com/RudySource/Dirgo/releases/download/vVERSION/dirgo-vVERSION-x86_64-unknown-linux-gnu.tar.gz"
    sha256 "X86_64_UNKNOWN_LINUX_GNU_SHA256"
  end

  def install
    bin.install "dgo"
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/dgo --version")
  end
end
